<%# Question Card %>
<div class="card border-secondary mb-2 shadow-sm bg-body rounded">
  <div class="card-body">
    <%- if round.least_likely? -%>
      <span class="text-danger fw-bold">
        <span class="text-decoration-underline">Least</span> likely to...
      </span>
    <%- else -%>
      <span class="text-primary fw-bold">
        <span class="text-decoration-underline">Most</span> likely to...
      </span>
    <%- end -%>
    <%= round.question %>
  </div>
</div>

<%# Show Votes %>
<%- if round.completed? -%>
  <%=
    render "completed_rounds/completed_round", round: round,
      is_judge: is_judge
  %>
<%- end -%>
